@font-face {
    font-family: 'Caveat';
    src: url(../../fonts/Caveat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url(../fonts/Kanit-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spartan';
    src: url(../fonts/Spartan-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}