@media (min-width: 1200px) {
    // __________MAIN__________
    .main {
        &__arrow {
            display: none;
        }
    }
}

@media (max-width: 1199px) {
    // __________MENU__________
    .menu {
        height: 40px;
        font-size: 25px;
        width: 30%;
    }

    // __________MAIN__________
    .main {
        &__arrow {
            display: none;
        }
    }

    // __________ABOUT__________
    .about {
        min-height: 600px;
        &__bg{
            min-height: 600px;
        }
        .row {
            .owl-carousel {
                .why {
                    font-size: 23px;
                    padding: 0 70px;
                }
                .table {
                    margin: 50px auto 0;
                }
            }
        }
    }

    // __________EDUCATION__________
    .education {
        min-height: 500px;
        padding-top: 40px;
    }

    // __________FOOTER__________
    .footer {
        &__social {
            a {
                padding: 11px 130px;
            }
        }
    }

    // __________ARROW-UP__________
    .arrow {
        bottom: 15%;
    }

}

@media (max-width:991px) {
    // __________MENU__________
    .menu {
        height: 35px;
        font-size: 30px;
        width: 40%;
    }

    // __________MAIN__________
    .main {
        &__box {
            width: 280px;
            height: 280px;
        }
        &__content {
            h1 {
                font-size: 37px;
            }
            width: 240px;
            height: 240px;
        }
    }

    // __________ABOUT__________
    .about {
        .row {
            .owl-carousel {
                .why {
                    font-size: 21px;
                    padding: 0 65px;
                }
                .table {
                    margin: 50px auto 0;
                }
                .owl-dots {
                    margin-top: 25px;
                }
            }
        }        
    }

    // __________EDUCATION__________
    .education {
        min-height: 500px;
        padding-top: 40px;
    }

    // __________SKILS__________
    .skills {
        min-height: 430px;
    }

    // __________CONTACT__________
    .form {
        padding-top: 45px;
        min-height: 400px;
        form {
            input {
                height: 40px;
            }
            button {
                height: 40px;
                font-size: 25px;
            }
        }
    }

    // __________FOOTER__________
    .footer {
        &__social {
            a {
                padding: 11px 100px;
            }
        }
    }
}

@media (max-width: 767px) {
    h2 {
        margin-bottom: 10px;
    }
    // __________MENU__________
    .nav {
        .menu {
            width: 50%;
            &__item {
                padding-bottom: 30px;
            }
        }
    }

    // __________MAIN__________
    .main {
        &__mouse {
            display: none;
        }
        &__arrow {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display:block;
        }
    }

    // __________ABOUT__________
    .about {
        min-height: 1100px;
        .row {
            margin: 0;
            min-height: 500px;
            .owl-carousel {
                .why {
                    text-align: center;
                }
                .table {
                    font-size: 25px;
                    margin: 0 auto;
                }
                .owl-dots {
                    margin-top: 30px;
                }
            }
        }
    }

    // __________EDUCATION__________
    .education {
        &__box {
            padding-top: 25px;
            a {
                width: 200px;
                img {
                    width: 100%;
                }
            }
        }
    }

    // __________FOORM__________
    .form {
        min-height: 500px;
        form {
            margin-top: 30px;
            input {
                margin-bottom: 35px;
            }
        }
    }
    // __________FOOTER__________
    .footer {
        &__social {
            a {
                padding: 11px 68px;
            }
        }
    }

    // __________ARROW-UP__________
    .arrow {
        right: -1000%;
    }
        
}

@media (max-width: 575px) {
    // __________MENU__________
    .nav {
        .menu {
            width: 75%;
        }
    }

    // __________MAIN__________
    .main {
        font-family: 'Spartan';
        &__bg {
            width: 100%;
            height: 100vh;
            background: url(../img/main_bg.jpg) center (center/cover) no-repeat;
            z-index: 2;
        }
        &__box {
            width: 250px;
            height: 250px;
        }
        &__content {
            h1 {
                font-size: 30px;
            }
            margin: 10px;
            padding: 45px 15px;
            width: 220px;
            height: 220px;
            font-size: 14px;
        }
    }

    // __________ABOUT__________
    .about {
        .row {
            min-height: 575px;
            .owl-carousel {
                .why {
                    font-size: 20px;
                    padding: 35px 25px 10px;
                }
                .table {
                    margin: 55px auto;
                }
                .owl-dots {
                    margin-top: 10px;
                }
            }
        }
    }

    // __________EDUCATION__________
    .education {
        .col-md-3 {
            padding: 0 40px;
            .title:after {
                left: 40px;
            }
        }
        &__box {
            justify-content: space-evenly;
            a {
                width: 140px;
            }
        }
    }

    // __________SKILS__________
    .skills {
        padding: 35px 40px;
        &__box {
            height: 400px;
        }
    }

    // __________FOORM__________
    .form {
        min-height: 465px;
        form {
            .error {
                font-size: 12px;
            }
            button {
                font-size: 20px;
            }
        }
    }

    // __________FOOTER__________
    .footer {
        &__social {
            a {
                padding: 11px 20px;
            }
        }
    }
    // __________ARROW-UP__________
    .arrow {
        right: -1000px;
    }
}