@media (min-width: 1200px) {
    // __________MAIN__________
    .main {
        &__arrow {
            display: none;
        }
    }
}

@media (max-width: 1199px) {
    // __________MENU__________
    .menu {
        height: 40px;
        font-size: 25px;
        width: 30%;
    }

    // __________MAIN__________
    .main {
        &__arrow {
            display: none;
        }
    }

    // __________ABOUT__________
    .about {
        min-height: 600px;
        &__bg{
            min-height: 600px;
        }
        .row {
            .owl-carousel {
                .why {
                    font-size: 23px;
                    padding: 0 70px;
                }
                .table {
                    margin: 50px auto 0;
                }
            }
        }
    }

    // __________EDUCATION__________
    .education {
        min-height: 500px;
        padding-top: 40px;
        &__item {
            width: 300px;
        }
        &__certificate {
            img {
                width: 300px;
            }
        }
    }

    // __________FOOTER__________
    .footer {
        &__social {
            a {
                padding: 11px 130px;
            }
        }
    }
}

@media (max-width:991px) {
    // __________MENU__________
    .menu {
        height: 35px;
        font-size: 30px;
        width: 40%;
    }

    // __________MAIN__________
    .main {
        &__box {
            width: 280px;
            height: 280px;
        }
        &__content {
            h1 {
                font-size: 37px;
            }
            width: 240px;
            height: 240px;
        }
    }

    // __________ABOUT__________
    .about {
        .row {
            .owl-carousel {
                .why {
                    font-size: 21px;
                    padding: 0 65px;
                }
                .table {
                    margin: 50px auto 0;
                }
                .owl-dots {
                    margin-top: 25px;
                }
            }
        }        
    }

    // __________EDUCATION__________
    .education {
        min-height: 500px;
        padding-top: 40px;
        &__item {
            width: 220px;
        }
        &__click {
            img {
                width: 160px;
            }
        }
        &__certificate {
            img {
                width: 220px;
            }
        }
    }

    // __________SKILS__________
    .skills {
        min-height: 430px;
    }

    // __________CONTACT__________
    .form {
        padding-top: 45px;
        min-height: 450px;
        form {
            input {
                height: 40px;
            }
            button {
                height: 40px;
                font-size: 25px;
            }
        }
    }

    // __________FOOTER__________
    .footer {
        &__social {
            a {
                padding: 11px 100px;
            }
        }
    }
}

@media (max-width: 767px) {
    h2 {
        margin-bottom: 10px;
    }
    // __________MENU__________
    .nav {
        .menu {
            width: 50%;
            &__item {
                padding-bottom: 30px;
            }
        }
    }

    // __________MAIN__________
    .main {
        &__mouse {
            display: none;
        }
        &__arrow {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display:block;
        }
    }

    // __________ABOUT__________
    .about {
        min-height: 1100px;
        .row {
            margin: 0;
            min-height: 500px;
            .owl-carousel {
                .why {
                    text-align: center;
                }
                .table {
                    margin: 0 auto;
                }
                .owl-dots {
                    margin-top: 30px;
                }
            }
        }
    }

    // __________EDUCATION__________
    .education {
        &__box {
            padding-top: 25px;
        }
        &__item {
            width: 230px;
        }
        &__click {
            justify-content: space-evenly;
            img {
                width: 150px;
            }
        }
        &__certificate {
            img {
                width: 230px;
            }
        }
    }
    // __________FOORM__________
    .form {
        min-height: 550px;
        .col-md-9 {
            padding-top: 30px;
        }
        form {
            input {
                margin-bottom: 35px;
            }
        }
    }
    // __________FOOTER__________
    .footer {
        &__social {
            a {
                padding: 11px 68px;
            }
        }
    }
}

@media (max-width: 575px) {
    // __________MENU__________
    .nav {
        .menu {
            width: 75%;
        }
    }

    // __________ABOUT__________
    .about {
        .row {
            min-height: 550px;
            .owl-carousel {
                .why {
                    font-size: 20px;
                    padding: 0 25px;
                }
                .table {
                    margin: 55px auto;
                }
                .owl-dots {
                    margin-top: 10px;
                }
            }
        }
    }

    // __________EDUCATION__________
    .education {
        &__box {
            justify-content: space-evenly;
        }
        &__item {
            width: 250px;
        }
        &__click {
            justify-content: space-evenly;
            img {
                width: 175px;
            }
        }
        &__certificate {
            img {
                width: 250px;
            }
        }
    }

    // __________FOORM__________
    .form {
        min-height: 560px;
    }

    // __________FOOTER__________
    .footer {
        &__social {
            a {
                padding: 11px 20px;
            }
        }
    }
}