.about {
    font-family: 'Caveat', cursive;
    font-size: 31px;
    min-height: 700px;
    .row {
        width: 100%;
        .col-md-6 {
            padding: 0;
        }
        .owl-carousel {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .why {
                padding: 0 130px;
            }
            .table {
                margin: 0 auto;
                .contact {
                    padding: 15px 0;
                    font-size: 18px;
                }
                .break {
                    padding: 0 15px;
                }
                a {
                    color: #000;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .owl-item .active {
                display: none;
                .active {
                    display: block;
                }
            }
    
            .owl-dots {
                margin-top: 50px;
                display: flex;
                justify-content: center;
                .owl-dot {
                    margin-right: 20px;
                    height: 15px;
                    width: 15px;
                    background-color: #000;
                    border-radius: 100%;
                    opacity: .5;
                    outline: none;
                    transition-property: all;
                    &:hover {
                        opacity: 1;
                    }
                }
                .active {
                    opacity: 1;
                }
            }
        }
    }
    &__bg{
        min-height: 900px;
        background: url(../img/photo_bg.jpg) center (center/cover) no-repeat;
        filter: brightness(170%) opacity(.8);
    }

    
}


    