.footer {
    height: 50px;
    background-color: #9A9A9A;
    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        :nth-child(1):hover {
            background-color: #0077B5;
            a {
                color: #fff;
                background: none;
            }
        } 
        :nth-child(2):hover {
            background: linear-gradient(0.55turn, #515bd4, #8134af, #dd2a7b, #f58529);
            a {
                color: #fff;
                background: none;
            }
        }
        :nth-child(3):hover {
            background-color: #24292E;
            a {
                color: #fff;
                background: none;
            }
        }
    }
    &__social {
        padding-top: 13px;
        height: 50px;
        width: 33%;
        text-align: center;
        a {
            padding: 11px 200px;
            color: #fff;
            text-decoration: none;
        }
    }
} 




